BE/node_modules/
BE/*.log

BE/npm-debug.log
BE/yarn-error.log

# Compiled output
FE/dist
FE/tmp
FE/out-tsc
FE/bazel-out

# Node
FE/node_modules
FE/npm-debug.log
FE/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
FE/.angular/cache
FE/.sass-cache/
FE/connect.lock
FE/coverage
FE/libpeerconnection.log
FE/testem.log
FE/typings

# System files
FE/.DS_Store
FE/Thumbs.db
